{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "jsxBracketSameLine": true,
  "prettier.debug": true
}